<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>card_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,766},{31,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,40}}</string>
			<key>sourceSize</key>
			<string>{31,40}</string>
		</dict>
		<key>card_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,723},{44,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,42}}</string>
			<key>sourceSize</key>
			<string>{44,42}</string>
		</dict>
		<key>card_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{681,723},{16,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,41}}</string>
			<key>sourceSize</key>
			<string>{16,41}</string>
		</dict>
		<key>card_11_club.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,624},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_11_diamond.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,0},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_11_heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,416},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_11_spade.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,0},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,774},{29,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,40}}</string>
			<key>sourceSize</key>
			<string>{29,40}</string>
		</dict>
		<key>card_12_club.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,624},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_12_diamond.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,208},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_12_heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,416},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_12_spade.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,208},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_13.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,723},{30,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,50}}</string>
			<key>sourceSize</key>
			<string>{30,50}</string>
		</dict>
		<key>card_13_club.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,416},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_13_diamond.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,624},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_13_heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,208},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_13_spade.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,208},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,783},{27,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,41}}</string>
			<key>sourceSize</key>
			<string>{27,41}</string>
		</dict>
		<key>card_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,697},{27,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,42}}</string>
			<key>sourceSize</key>
			<string>{27,42}</string>
		</dict>
		<key>card_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,624},{28,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,41}}</string>
			<key>sourceSize</key>
			<string>{28,41}</string>
		</dict>
		<key>card_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{729,774},{27,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,41}}</string>
			<key>sourceSize</key>
			<string>{27,41}</string>
		</dict>
		<key>card_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{758,667},{26,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,42}}</string>
			<key>sourceSize</key>
			<string>{26,42}</string>
		</dict>
		<key>card_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{773,624},{24,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{24,40}}</string>
			<key>sourceSize</key>
			<string>{24,40}</string>
		</dict>
		<key>card_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{745,624},{27,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,42}}</string>
			<key>sourceSize</key>
			<string>{27,42}</string>
		</dict>
		<key>card_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{757,740},{27,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,42}}</string>
			<key>sourceSize</key>
			<string>{27,42}</string>
		</dict>
		<key>card_behind.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,0},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_club.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,0},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_diamond.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,416},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_eclipse.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,624},{79,98}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{79,98}}</string>
			<key>sourceSize</key>
			<string>{79,98}</string>
		</dict>
		<key>card_front.png</key>
		<dict>
			<key>frame</key>
			<string>{{477,624},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{636,416},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_null.png</key>
		<dict>
			<key>frame</key>
			<string>{{159,208},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
		<key>card_small_club.png</key>
		<dict>
			<key>frame</key>
			<string>{{716,666},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,30}}</string>
			<key>sourceSize</key>
			<string>{28,30}</string>
		</dict>
		<key>card_small_diamond.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,766},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>card_small_heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{668,797},{29,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{29,27}}</string>
			<key>sourceSize</key>
			<string>{29,27}</string>
		</dict>
		<key>card_small_spade.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,740},{26,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{26,30}}</string>
			<key>sourceSize</key>
			<string>{26,30}</string>
		</dict>
		<key>card_spade.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{158,207}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,207}}</string>
			<key>sourceSize</key>
			<string>{158,207}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{798,832}</string>
		<key>textureFileName</key>
		<string>cards.png</string>
	</dict>
</dict>
</plist>