<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>cangat_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,0},{74,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,146}}</string>
				<key>sourceSize</key>
				<string>{74,146}</string>
			</dict>

			<key>cangat_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{74,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,146}}</string>
				<key>sourceSize</key>
				<string>{74,146}</string>
			</dict>

			<key>cangat_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{74,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,146}}</string>
				<key>sourceSize</key>
				<string>{74,146}</string>
			</dict>

			<key>cangat_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,147},{74,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,146}}</string>
				<key>sourceSize</key>
				<string>{74,146}</string>
			</dict>

			<key>cangat_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,0},{74,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,146}}</string>
				<key>sourceSize</key>
				<string>{74,146}</string>
			</dict>

			<key>cangat_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,147},{74,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,146}}</string>
				<key>sourceSize</key>
				<string>{74,146}</string>
			</dict>

			<key>cangat_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,147},{74,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,146}}</string>
				<key>sourceSize</key>
				<string>{74,146}</string>
			</dict>

			<key>cangat_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,147},{74,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,146}}</string>
				<key>sourceSize</key>
				<string>{74,146}</string>
			</dict>

			<key>cangat_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,0},{74,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,146}}</string>
				<key>sourceSize</key>
				<string>{74,146}</string>
			</dict>

			<key>cangat_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,147},{74,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,146}}</string>
				<key>sourceSize</key>
				<string>{74,146}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{375,294}</string>
			<key>textureFileName</key>
			<string>cangat_image.png</string>
			</dict>
		</dict>
</plist>