<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>card_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,590},{217,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,294}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_bich_be.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,295},{217,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,294}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_bich_to.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,0},{217,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,294}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_co_be.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,590},{217,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,294}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_co_to.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,295},{217,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,294}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_j.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,0},{217,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,294}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,590},{217,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,294}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_q.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,295},{217,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,294}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_ro_be.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{217,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,294}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_ro_to.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,590},{217,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,294}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_tep_be.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,295},{217,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,294}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_tep_to.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{217,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,294}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>