<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>card_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{217,294}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,294}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_bich_be.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,228},{44,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,116},{44,47}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_bich_to.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,228},{122,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,136},{122,129}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_co_be.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,228},{44,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,116},{44,47}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_co_to.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,358},{121,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,135},{121,130}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_j.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,295},{201,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,76},{201,209}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,295},{201,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,77},{201,208}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_q.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,0},{201,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{8,58},{201,227}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_ro_be.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,228},{43,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,116},{43,47}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_ro_to.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,0},{120,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{72,135},{120,130}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_tep_be.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,228},{42,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,116},{42,47}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

			<key>card_tep_to.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,358},{119,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{72,136},{119,129}}</string>
				<key>sourceSize</key>
				<string>{217,294}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>